<div class="container">
  <div class="header">
    <img src="assets/img/logo.png" />
    <h1>RubyConsole.com</h1>
  </div>

  <div class="console-container">
    <div class="console">
      <pre id="editor">
        puts "Hello World"
      </pre>
      <button (click)="run()"><span>Run Code</span></button>
      <div id="output">
        <div id="skeleton" *ngIf="loading">
          <div class="skeleton skeleton-large"></div>
          <div class="skeleton-grid">
            <div class="skeleton-grid grid-3"><div class="skeleton"></div></div>
            <div class="skeleton-grid grid-3"><div class="skeleton"></div></div>
            <div class="skeleton-grid grid-6"><div class="skeleton"></div></div>
          </div>
          <div class="skeleton-grid">
            <div class="skeleton-grid grid-3"><div class="skeleton"></div></div>
            <div class="skeleton-grid grid-6"><div class="skeleton"></div></div>
            <div class="skeleton-grid grid-3"><div class="skeleton"></div></div>
          </div>
        </div>
        <pre [innerHTML]="output" *ngIf="!loading" [ngClass]="{'error': error}"></pre>
      </div>
    </div>

    <div class="info">
      <h2>Run ruby in your browser</h2>
    </div>
  </div>
</div>
