<div class="container">
  <div class="header">
    <img src="assets/img/logo.png" />
    <h1>RubyConsole.com</h1>
  </div>

  <div class="console-container">
    <div class="help-close" (click)="searchResp=false" *ngIf="searchResp">&times;</div>
    <div class="help" *ngIf="searchResp">
      <div class="inner" [innerHTML]="searchResp"></div>
    </div>
    <div class="console">
      <pre id="editor">
        {{(workspace && workspace !== false ? workspace: '')}}
      </pre>

      <div class="btn-group">
        <button (click)="run()"><span>Run <i class="icon-play"></i></span></button>
        <app-upload-download (onUpload)="uploaded($event)" (onDownload)="download()"></app-upload-download>
      </div>

      <div id="output">
        <div id="skeleton" *ngIf="loading">
          <div class="skeleton skeleton-large"></div>
          <div class="skeleton-grid">
            <div class="skeleton-grid grid-3"><div class="skeleton"></div></div>
            <div class="skeleton-grid grid-3"><div class="skeleton"></div></div>
            <div class="skeleton-grid grid-6"><div class="skeleton"></div></div>
          </div>
          <div class="skeleton-grid">
            <div class="skeleton-grid grid-3"><div class="skeleton"></div></div>
            <div class="skeleton-grid grid-6"><div class="skeleton"></div></div>
            <div class="skeleton-grid grid-3"><div class="skeleton"></div></div>
          </div>
        </div>
        <pre [innerHTML]="output" *ngIf="!loading" [ngClass]="{'error': error}"></pre>
      </div>
    </div>

    <div class="info">
      <h2>Run ruby in your browser</h2>
      <label>
        <span>Help Topic</span>
        <input type="text" placeholder="Array" [(ngModel)]="search" />
        <input type="submit" value="{{(searching ? 'Searching...' : 'Find')}}" (click)="ri()" [disabled]="searching" />
      </label>
    </div>
  </div>
</div>
